<ion-view title="Friends">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="showAddFriend()">
      Add
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <button ion-button full>Start a Trip</button>
    <button ion-button full>Add Roadside Attraction!</button>
    <input type="submit" ng-click="logout()" value="Log out" />
    <input type="submit" ng-click="test()" value="TEST" />
    <input type="submit" ng-click="start()" value="start" />
    <input type="submit" ng-click="stop()" value="stop" />

  </ion-content>
</ion-view>
