<ion-view title=Home>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="showAddFriend()">
      Add
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <button class="button button-block button-positive" ui-sref="tab.map">Start a trip</button>
    <button class="button button-block button-balanced" ui-sref="tab.favorites">Add Roadside Attraction</button>
    <input type="submit" ng-click="logout()" value="Log out" />
    <input type="submit" ng-click="test()" value="TEST" />
    <input type="submit" ng-click="start()" value="start" />
    <input type="submit" ng-click="stop()" value="stop" />
  </ion-content>
</ion-view>
