<ion-view title=Home>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="showAddFriend()">
      Add
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <img src='img/mira.png' style="height: 50%; position: relative; left: 15%;">
    <p style="margin: 10px;">Hello and welcome to MIRA!\nFrom the home page you can start recording a trip or add a roadside attraction.
    </p>
    <button class="button button-block button-positive" ng-click="startTrip()">Start a trip</button>
    <button class="button button-block button-balanced" ui-sref="tab.favorites">Add Roadside Attraction</button>
    <!-- <input type="submit" ng-click="test()" value="TEST" /> -->
  </ion-content>
</ion-view>
