
<ion-modal-view class="modal-center">
  <ion-content>
      <ion-list>
        <ion-item>
          <span class="input-label">{{selectedFav.name}}</span>
        </ion-item>
        <ion-item>
          <span class="input-label">{{selectedFav.location}}</span>
        </ion-item>
        <ion-item>
          <span class="input-label">{{selectedFav.description}}</span>
        </ion-item>
      </ion-list>

    <button class="button button-calm" ng-click="saveInput()"> Save </button>
    <button class="button button-assertive" ng-click="closeModal(2)">Close</button>

  </ion-content>
</ion-modal-view>
